name: Add Count

on:
  workflow_dispatch:
    inputs:
      count:
        description: "Add Count"
        type: number
        default: 1
jobs:
  add_count:
    runs-on: ubuntu-latest  
    steps:
      - uses: actions/checkout@v3
      - name: Add Count
        id: add_count
        run: |
          chmod +x scripts/add.sh
          bash scripts/add.sh ${{ github.event.inputs.count }}
          git config --global user.email "ahmed6mohamed6@gmail.com"
          git config --global user.name "Ahmad Zaky"
          git add count.txt
          git commit -m "Updated count.txt"
          export COUNT=$(cat count.txt)
          echo "count=$COUNT" >> $GITHUB_OUTPUT
        shell: bash

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
      
      - name: Notify
        if: ${{ steps.add_count.outputs.count > 4 }}
        run: |
          export COUNT=${{ steps.add_count.outputs.count }}
          export OWNER="Ahmad-Zaky"
          export REPO="youssof"
          export WORKFLOW_ID="80860768"
          export MSG="Quran lesson reached $COUNT lessons"
          export EMAIL="ahmed6mohamed6@gmail.com"
          curl --location 'https://api.github.com/repos/'"$OWNER"'/'"$REPO"'/actions/workflows/'"$WORKFLOW_ID"'/dispatches' \
          --header 'Accept: application/vnd.github+json' \
          --header 'X-GitHub-Api-Version: 2022-11-28' \
          --header 'Content-Type: application/json' \
          --header 'Authorization: Bearer '"${{ secrets.PAT }}"'' \
          --data-raw '{
              "ref": "main",
              "inputs": {
                  "to": "'"$EMAIL"'",
                  "msg": "'"$MSG"'"
              }
          }'
